*{
	box-sizing: border-box;
}

body, html{
min-height: 100vh;
margin: 0; 
}

body{
	display: flex;
	flex-direction: column;
	font-family: 'EB Garamond', serif;
	background: #FFBEBC;
}

h1{
	font-size: 50px;
}

.joke{
	text-align: center;
	cursor: url(https://picsum.photos/20/20), auto;
}

main{
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	padding-top: 175px;
}


img{
	max-width: 100%;
}

header{
	border-bottom: 1px solid grey;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
background-image: url(../imgs/iconfinder_meteorite.png);
width: 100px;
height: 100px;
background-size: 100%
}

a{
	text-decoration: none;
	color: grey;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

footer{
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 10px;
}

.Credits{
	text-align: center;
}

.B1{
	text-align: center;
}

#C1{
	color: black;
	text-decoration: none;
}

